.Name {
    font-size: 23px;
    color: black;
    margin-bottom: 1vh;
    margin-top: 15vh;
}

.Artist {
    font-size: 18px;
    color: black;
    margin-bottom: 2vh;
}

.Album {
    font-size: 18px;
    color: black;
    margin-top: 1vh;
}

.Picture {
    height: 50vh;
    box-shadow: 3px 3px 15px rgba(0,0,0,.4);
}

.Button {
    height: 5vh;
}

.Border {
    background-color: rgb(197, 241, 255);
    border: 0px;
}