.Title {
    justify-content: left;
    text-align: left;
    margin: 1vw;
}

.Line {
    display: flex;
    justify-content: space-between;
}

.Dropdown {
    margin-right: 5vw;
    color: white;
    background-color: black;
    border: none;
    font-size: 18px;
}

.Artist-Features-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Artist-Container {
    background-color: rgb(22, 22, 51);
    opacity: 1;
    transform: none;
    margin: 1vw;
    width: 22vw;
    border-radius: 20px;
    padding: 0.7vw;
    font-size: 18px;
}

.Green {
    background-color: rgb(117, 228, 117);
    width: 24vw;
    color:  rgb(22, 22, 51);
}

.Artist-Row {
    display: flex;
    flex-direction: row;
}

.Artist-Info {
    margin-left: 2vw;
    margin-bottom: 0.7vh;
    color: rgb(226, 202, 160);
}

.Artist-Image {
    margin-left: 0.5vw;
    height: 96px;
    width: 96px;
}

.Artist-Column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 3vh;
}