.Title {
    justify-content: left;
    text-align: left;
    margin: 1vw;
}

.Line {
    display: flex;
    justify-content: space-between;
}

.Dropdown {
    margin-right: 5vw;
    color: white;
    background-color: black;
    border: none;
    font-size: 18px;
}