.Album-Line {
    display: flex;
    justify-content: space-between;
}

.Title {
    margin-right: 2vw;
}

.Dropdown-Album {
    margin: 1vw;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: #5680E9;
    font-size: 18px;
    border: none;
    font-weight: 900;
}

.Album-Features-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Album-Container {
    background-color: rgb(255,160,122);
    opacity: 1;
    transform: none;
    margin: 1vw;
    width: 18vw;
    border-radius: 20px;
    padding: 0.7vw;
    font-size: 18px;
    color:  rgb(6, 62, 134);
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}

.BG-2 {
    background-color: #5680E9;
}