.Title {
    justify-content: left;
    text-align: left;
    margin: 1vw;
}

.Line {
    display: flex;
    justify-content: space-between;
}

.Dropdown {
    margin-right: 5vw;
    color: white;
    background-color: black;
    border: none;
    font-size: 18px;
}

.Album-Features-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Album-Container {
    background-color: rgb(255,160,122);
    opacity: 1;
    transform: none;
    margin: 1vw;
    width: 23vw;
    border-radius: 20px;
    padding: 0.7vw;
    font-size: 18px;
    color:  rgb(6, 62, 134);
}