.Features-Container {
    width: 67vw;
    display: flex;
    flex-direction: column;
}

.Titles {
    margin: 1vh 0vw;
    margin-right: 2vw;
    font-size: 2em;
    font-weight: 800;
}

.Dropdown {
    margin: 1vw;
    justify-content: left;
    text-align: left;
    color: white;
    font-size: 18px;
    border: none;
    font-weight: 900;
}

.Radar-Chart {
    flex: 9;
}

.Audio-Feature-List {
    flex: 5;
}

.Line {
    display: flex;
    justify-content: space-between;
}

.Audio-Feature {
    background-color: #56c4ff;
    opacity: 1;
    transform: none;
    width: 20vw;
    border-radius: 20px;
    margin: 1vw;
    padding: 0.7vw;
    font-size: 16px;
    color: rgb(24, 7, 7);
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}

.shape {
    fill-opacity: .9;
}

.shape:hover {
    fill-opacity: .65;
    z-index: 100;
}   

.scale {
    fill: #C1C8E4; 
    stroke: #999;
    stroke-width: 0;
}

.axis {
    stroke: rgb(0, 0, 0); 
    stroke-width: 0.05;
}

.caption {
    fill: rgb(125, 203, 206); 
    font-weight: 900; 
    font-size: 11px;
    z-index: 100;
}

.BG-1 {
    background-color: #8860D0;
}

.Dropdown-Album {
    margin: 1vw;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: #5680E9;
    font-size: 18px;
    border: none;
    font-weight: 900;
}

.Album-Features-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.Album-Container {
    opacity: 1;
    transform: none;
    margin: 1vw;
    width: 18vw;
    border-radius: 20px;
    padding: 0.7vw;
    font-size: 18px;
    color:  rgb(6, 62, 134);
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}

.BG-2 {
    background-color: #5680E9;
}

.Line-Artist {
    display: flex;
    justify-content: space-between;
}

.Title-2 {
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-weight: 800;
    font-size: 2em;
    color: white
}

.Dropdown-Artist {
    margin: 1vw;
    color: white;
    font-size: 18px;
    border: none;
    font-weight: 900;
}

.Left-Content {
    justify-content: left;
    text-align: left;
}

.Right-Content {
    justify-content: right;
    text-align: right;
    margin-right: 2vw;
}

.Flex {
    display: flex;
}

.Column {
    flex-direction: column;
}

.Row {
    flex-direction: row;
}

.Artist-Features-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Artist-Container {
    background-color: #ff8557;
    opacity: 1;
    transform: none;
    margin: 1vw;
    width: 22vw;
    border-radius: 20px;
    padding: 0.7vw;
    font-size: 14px;
}

.Box-Shadow-1 {
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}

.Green {
    background-color: #9affb6;
    width: 24vw;
    color: black;
    /* with help from srikar boinapally */
}

.Artist-Row {
    display: flex;
    flex-direction: row;
}

.Artist-Info {
    margin-left: 2vw;
    margin-bottom: 0.7vh;
    font-size: 16px;
}

.Popularity-Info {
    font-size: 13px;
}

.Related-Text {
    color: black;
}

.Orange {
    background-color:  #ff7a56;
}

.Yellow {
    background-color:  #ffe856;
}

.Artist-Image {
    margin-left: 0.5vw;
    height: 72px;
    width: 72px;
}

.Artist-Column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 2vh;
}

.Artist-Pic {
    height: 300px;
    width: 300px;
    box-shadow: 3px 3px 15px rgba(0,0,0,.4);
}

.Artist-Info-2 {
    margin: 0vh 8vw;
    justify-content: center;
}

.BG-6 {
    background-color: rgb(241, 210, 255);
}

.BG-5 {
    background-color: #C1C8E4;
}

.BG-4 {
    background-color: #84CEEB;
}

.BG-3 {
    background-color: #5AB9EA;
}

.Artist-Name {
    margin-bottom: 1vh;
    color: white;
    font-size: 24px;
    font-weight: 300;
}

.Artist-Popularity {
    background-color: #fdff9a;
    color: rgb(43, 124, 165);
    margin-bottom: 2vh;
    margin-left: 2vw;
    opacity: 1;
    transform: none;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
    width: 18vw;
    padding: 0.5vw;
    font-size: 18px;
}

.Artist-Followers {
    background-color: #56ff64;
    color: rgb(43, 124, 165);
    margin-bottom: 3vh;
    opacity: 1;
    transform: none;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
    width: 22vw;
    padding: 0.5vw;
    font-size: 18px;
}

.Header-3 {
    text-align: left;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 2vh;
    color: white;
}

.Artist-Genres {
    background-color: #ffbc9a;
    color: rgb(43, 124, 165);
    margin-bottom: 1vh;
    opacity: 1;
    transform: none;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
    padding: 0.5vw;
    font-size: 18px;
    min-width: 5vw;
    max-width: 18vw;
    margin-right: 2vw;
    padding: 0.8vh 1.2vw;
}

.Center-Content {
    justify-content: center;
    text-align: center;
}

.Wrap {
    flex-wrap: wrap;
}

.Margin-2 {
    padding-bottom: 3vh;
}

.Artist-Info-Container {
    padding-top: 6vh;
}

.Slider-Container {
    width: 40vw;
    margin-left: 13vw;
}

.Option-Container {
    width: 20vw;
}

.Recommendation-Title {
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1vh;
}

.Align-Center {
    text-align: center;
}

.select-css {
	display: block;
	font-family: sans-serif;
	font-weight: 700;
	color: #444; 
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    background-color: #df9bff;
    margin-left: 5vw;
}

.select-margin {
    margin-left: 7vw;
}

.select-css:hover {
    border-color: rgb(55, 23, 141);
}

.Blue {
    background-color: #578cff;
}

/* .select-css::-ms-expand {
    display: none;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight:normal;
} */