.wrapper {
    margin: 10px;
    background-color: red;
    /* height: 100%; */
}
  
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
  
.player {
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%; */
  flex: 1;
  background-color: lightblue;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
  
.features {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
  flex: 2;
  background-color: black;
}