.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.player {
  height: 100vh;
  width: 33vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(197, 241, 255);
  position: fixed;
}

.features {
  background-color: black;
  margin-left: 33vw;
  width: 67vw;
}