.Title {
    justify-content: left;
    text-align: left;
    margin: 1vw;
}

.Container {
    display: flex;
    flex-direction: row;
}

.Chart {
    flex: 3;
}

.List {
    flex: 2;
}

.Line {
    display: flex;
    justify-content: space-between;
}

.Dropdown {
    margin-right: 5vw;
    color: white;
    background-color: black;
    border: none;
    font-size: 18px;
}

.Feature {
    background-color: rgb(95,158,160);
    opacity: 1;
    transform: none;
    width: 22vw;
    border-radius: 20px;
    margin: 1vw;
    padding: 0.7vw;
    font-size: 18px;
    color: rgb(151, 5, 5);
}