.Title {
    margin-top: 1vh;
    margin-right: 2vw;
    font-weight: 800;
}

.Dropdown {
    margin: 1vw;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgb(134, 95, 207);
    font-size: 18px;
    border: none;
    font-weight: 900;
}

.Container {
    display: flex;
    flex-direction: row;
}

.Chart {
    flex: 9;
}

.List {
    flex: 5;
}

.Line {
    display: flex;
    justify-content: space-between;
}

.Feature {
    background-color: rgb(125, 203, 206);
    opacity: 1;
    transform: none;
    width: 20vw;
    border-radius: 20px;
    margin: 1vw;
    padding: 0.7vw;
    font-size: 16px;
    color: rgb(24, 7, 7);
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}

.shape {
    fill-opacity: .9;
}

.shape:hover {
    fill-opacity: .65;
    z-index: 100;
}   

.scale {
    fill: #C1C8E4; 
    stroke: #999;
    stroke-width: 0;
}

.axis {
    stroke: rgb(0, 0, 0); 
    stroke-width: 0.05;
}

.caption {
    fill: rgb(125, 203, 206); 
    font-weight: 900; 
    font-size: 11px;
    z-index: 100;
}

.BG-1 {
    background-color: #8860D0;
}